* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background: #f4f4f4;
}
nav ul {                             /*for navigation bar*/
    display: flex;
    justify-content:flex-end;
    list-style: none;
    background:darkgray;
    padding: 1rem 0;
}
nav ul li {
    margin: 0 1.5rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.container {                      /*first box*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.section {
    width: 90%;
    height: 300px;        /* Fixed height */
    border-radius: 20px;
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.gradient {
    background: linear-gradient(to bottom right, blue, pink);
}
.logo img {                                    /*second box*/
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.gridcontainer {                               /*third box*/
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;  
    height: 100%; 
}
.square {
    background: blue;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square::before {
    content: "";
    display: block;
    padding-top: 100%; 
}

.square:active {
    background: red;
}
